@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eef2fb;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.container {
  width: 30rem;
  height: 45rem;
  border-radius: 1.5rem;
  background: linear-gradient(145deg, #d6dae2, #ffffff);
  box-shadow: 20px 20px 60px #caced5, -20px -20px 60px #ffffff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container ul {
  overflow: auto;
}

.container-form {
  display: flex;
  column-gap: 10px;
}

h2 {
  line-height: 0;
  color: #4e4e80;
  font-size: 2rem;
  letter-spacing: 1px;
}

form {
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  max-width: 100%;
  width: 400px;
}

button {
  background-color: #4e4e80;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: pointer;
}

.sub-title-1 {
  line-height: 0;
  color: #4e4e80;
  margin-bottom: 3rem;
}

.sub-title-2 {
  border-bottom: 1px solid #444;
  color: #4e4e80;
}

.input {
  border: none;
  color: #444;
  font-size: 1rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(145deg, #d6dae2, #ffffff);
  box-shadow: 20px 20px 60px #caced5, -20px -20px 60px #ffffff;
}

.input::placeholder {
  color: #aaaac4;
}

.input:focus {
  outline: none;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 430px;
}

.todos li {
  border: 1px solid #e5e5e5;
  color: #4e4e80;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  text-align: left;
}
